<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}">

        <meta name="author" content="{{ metadata.author.name }}">
        <meta name="description" content="{{ metadata.description }}">
        <meta name="generator" content="Eleventy v1.0.2">

        <link rel="alternate" href="https://agvbergin.net/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="canonical" href="{{ metadata.url }}">

        <link href="{{ metadata.author.url }}" rel="me">
        <link href="{{ metadata.author.github }}" rel="me">
        <link href="{{ metadata.author.mastodon }}" rel="me">
        <link href="{{ metadata.author.twitter }}" rel="me">
        <link href="{{ metadata.author.codepen }}" rel="me">
    </head>
    <body>
        {% include "_header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "_footer.njk" %}
    </body>
</html>