<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    
    <meta name="author" content="{{ metadata.author.name }}">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="generator" content="Eleventy v1.0.2">
    
    <link rel="alternate" href="https://agvbergin.net/feed.xml" type="application/atom+xml" title="Atom 0.3">
    <link rel="canonical" href="{{ metadata.url }}">

    <link href="https://twitter.com/agvbergin" rel="me">
    <link href="https://github.com/agvbergin" rel="me">
    <link href="https://agvbergin.net/" rel="me">
    <link href="https://mastodon.me.uk/@agvbergin" rel="me">
</head>
<body>
    <header>
        <a href="/"><img alt="Home" class="avatar" width="100" height="100" src="{{ '/img/coffeeMini.png' | url }}"></a>
        <nav>
        <ul role="list">
            <li><a href="{{ '/blog/' | url }}">Blog</a></li>
            <li><a href="https://github.com/agvbergin">GitHub</a></li>
            <li><a rel="me" href="https://mastodon.me.uk/@agvbergin">Mastodon</a></li>
        </ul>
        </nav>
    </header>
    <main>
{{ content | safe }}
    </main>
    <footer>
    <p>
    Copyright Ann Bergin 2022. Hosted on <a href="https://www.netlify.com/">Netlify</a>.
    </p>
    </footer>
</body>
</html>
